{
  "printWidth": 100,
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[@/types]",
    "",
    "vue",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/env(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
